# Directories created from using the 'rsm' CLI tool in project directories.
.rsm/

# The recommended virtualenv directory.
/.venv/

# Generated code.
bank/backend/api
hello-constructors/backend/api
hello-legacy-grpc/backend/api
hello-tasks/backend/api

# Temporary directories produced by `pytest`.
__pycache__/
.pytest_cache/
